{% extends 'layout.html'%}

{% block title %}
Search for Book
{% endblock %}

{% block content %}
<h2>Search for...</h2>
<div class="container">
    <!-- Search books by ISBN-->
    <form action="{{url_for('book_search')}}" method="GET">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by ISBN, Author or Title" name="search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </div>
        </div>
    </form>


    <table class="table">
        <thead class="table-bordered">
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published Year</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books%}
        <tr>
            <td><a href="/data_book/{{book.isbn}}">{{book.isbn}}</a></td>
            <td><a href="/data_book/{{book.isbn}}">{{book.title}}</a></td>
            <td><a href="/data_book/{{book.isbn}}">{{book.author}}</a></td>
            <td><a href="/data_book/{{book.isbn}}">{{book.published_yr}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}