{% extends 'layout.html '%}

{% block title %}
Book Detalis
{% endblock %}

{% block content %}

<div class="row py-3">
    <div class="card w-100 shadow" style="width: 18rem;">
        <img src="http://covers.openlibrary.org/b/isbn/{{book[0].isbn}}-M.jpg" alt="{{ book[0].title }}" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="col-md-5">
          <h5 class="card-title">{{ book[0].title }}</h5>
          <section class="card-text">
            <h5>Details</h5>
            <p><b>Author:</b> {{book[0].author}}</p>
            <p><b>ISBN:</b> {{book[0].isbn}}</p>
            <p><b>Published year:</b> {{book[0].published_yr}}</p>
          </section> 
          <a href="#" class="btn btn-warning">View</a>
        </div>
        </div>
      </div>
</div>

<section>

    <div class="row no-gutters">
        <div class="col-8 col-md-8 col-lg-10">
        <div class="card-shadow">
            <div class="card-header bg-info">
                <h5 class="card-title">Points</h5>
            </div>
        <!-- Your Reivew -->
        <form class="form-border" method="post">
            <div>
                <label for="points"><span>Rate this book!</span></label>
                <select name="points" id="points" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="points-input">
                <textarea name="review" id="id_review" class="form-control" cols="30" rows="10" placeholder="Leave a comment!" required></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-points-warning">Submit</button>
            </div>
        </form>
        </div>
    </div>
    </div>

</section>

<!-- <script type=""></script> -->

<div class="user-reviews">
    <h3>Reviews from other Amerikas</h3>
    {% for review in reviews %}
    <div class="list-group">
        <div>
            <h5 style="color: gray">{{review[username]}} had said...</h5>
            <p>{{review['review']}}</p>
            <p>Points: {{review['points']}}</p>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}