<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
    <title>Amerika Repository: {% block title %}{% endblock %}</title>
</head>
<body>
  
<!--Jumbotron-->
<div class="jumbotron" style="margin-bottom:0">
  <h1>"Ideas come from everything”</h1>
  <p class="quote"> Amerika is a local repository with a briefing review of over thousands books of all the time</p>   
</div>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#">Amerika Repository</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    {% if session.user_id %}
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item active">
        <a class="nav-link text-white mx-4" href="/book_search">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success text-white  mx-4" href="#">{{session['username']}}</a>
      </li>
      
    </ul>
    <a class="nav-link text-white btn btn-warning mx-4" href="/logout">Log out</a>
    {% else %}
    <ul class="navbar-nav m1-auto mt-3">
      <li class="nav-item mx-2"><a class="nav-link btn btn-warning" href="/register">Register</a></li>
      <li class="nav-item mx-2"><a class="nav-link btn btn-success" href="/login">Log In</a></li>
    </ul>
    {% endif %}
  </div>
</nav>
{% block content %}{% endblock %}
<footer class="copyright text-center">
  <p>Amerika Repository 2021</p>
  <p>Contact with us!</p>
</footer>
</body>
</html>